body {
    background: lightblue;
}
h1 {
    color: red
}
h2{
    color: red
}
img {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    }

@media (min-width: 576px) {
        .container {
          max-width: 540px;
        }
      }
@media (min-width: 768px) {
        .col-md-6 {
          width: 50%;
        }
      }
@media (min-width: 992px) {
}

#carrito {
    position: fixed; /* o absolute si va dentro de un contenedor */
    top: 20px;
    right: 20px;
    width: 300px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.botLogin {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;    
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
